<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sample</title>
  </head>
  <body>
    <h4>Index</h4>
    <h5>Student Details</h5>
    Student ID:<%=studentID%><br>
    Student Name:<%=studentName%><br>
    Marks :<%=Marks%><br>
    <% if(Marks >=60){%>
      Pass
    <%}else {%>
      Fail
    <%}%>
    <br class="mt-5">
    <table border="1">
      <tr>
        <th>Subject Name</th>
        <th>Marks Obtained</th>
      </tr>
      <% for(var i=0;i<subjects.length;i++){%>
      <tr>
      <td>
      <%= subjects[i].subjectName%>
      </td>
      <td>
        <%= subjects[i].marks%>
      </td>
    </tr>
      <%}%>
   </table>
   <br>
   <%- include("search") -%>
  </body>
</html>
