<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sample</title>
  </head>
  <body>
    <h4>Index</h4>
    <h5>Student Details</h5>
    Student ID:{{studentID}}<br>
    Student Name:{{studentName}}<br>
    Marks :{{Marks}}<br>
    {{#if pass}}
      Pass

    {{else}}
      Work hard
    {{/if}}
    <br class="mt-5">
    <table border="1">
      <tr>
        <th>Subject Name</th>
        <th>Marks Obtained</th>
      </tr>
      {{#each subjects}}
      <tr>
      <td>
       {{subjectName}}
      </td>
      <td>
         {{marks}}
      </td>
    </tr>
      {{/each}}
   </table>
   <br>
   <!-- {{> search}} -->
  </body>
</html>
